.navbar {
  display: flex;
  gap: 20px;
  background-color: #282c34;
  padding: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid yellow;
}
